body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(244, 236, 226);
}
.container {
  max-width: 600px;
  background-color: white;
  border-radius: 15px;
  margin: 50px auto 40px auto;
  padding: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  color: dimgrey;
  margin: 20px 0 10px 0;
}

.cities {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 10px 0 20px 0;
}

.cities:last-child {
  border: none;
}

h2 {
  font-size: 28px;
  margin: 20px 0 8px 0;
}

.date {
  color: dimgrey;
  font-size: 15px;
}

.time {
  font-size: 63px;
  font-weight: bold;
  margin: 20px 0 0 0;
}

small {
  font-size: 20px;
  vertical-align: middle;
  padding: 0 0 0 10px;
}

footer {
  text-align: center;
}
a {
  color: rgb(238, 141, 76);
}

.allcitieslink {
  color: rgb(238, 141, 76);
  text-align: end;
}
